<%- include('../partials/header', { currentPage: 'movies' }) %>

<main class="main" id="main">
  <div class="program-grid-container">

    <% 
      let titlesSeen = [] 
    %>

    <% for (let i = 0; i < programData.length; i++) { %>

      <%
        let titleKey = (programData[i].title || '').toLowerCase().trim()
        let isDuplicateTitle = (titlesSeen.indexOf(titleKey) !== -1)

        if (!isDuplicateTitle) {
          titlesSeen.push(titleKey)
        }

        let img = programData[i].img_url
        let imgSrc = ''

        if (img) {
          if (img.indexOf('/images/') === 0) {
            imgSrc = img
          } else if (img.indexOf('images/') === 0) {
            imgSrc = '/' + img
          } else {
            imgSrc = '/images/' + img
          }
        }
      %>

      <% if (!isDuplicateTitle) { %>
        <div class="image-container">
          <figure>

            <% if (imgSrc) { %>
              <img src="<%= imgSrc %>" alt="xmas movie image">
            <% } %>

            <figcaption>
              <a href="/program/<%= programData[i].program_id %>">
                <%= programData[i].title %>
              </a>
            </figcaption>
          </figure>
        </div>
      <% } %>
    <% } %>

  </div>
</main>

<%- include('../partials/footer') %>
