<%- include('../partials/header') %>

<main class="main" id="main">
    <div>
        <% programData.forEach(program => { %>
            <figure>
                <img src="<%= program.img_url %>" alt="Xmas movie or show image: <%= program.title %>">
                <figcaption>
                    <a href="/program/<%= program.program_id %>">
                        <%= program.title %>
                    </a>
                </figcaption>
        </figure>
   <% }) %>
</div>
</main>

<%- include('../partials/footer')%>
