<%- include('../partials/header', { currentPage: 'allPrograms' }) %>

<main class="main" id="main">

  <div class="pagination">
    <%# pagination links come from the router (prev/currentPage/next) %>
    <% if (prev != null) { %>
      <a href="/allPrograms?page=<%= prev %>">prev</a>
    <% } %>

    <% if (currentPage != null) { %>
      <span>Page <%= currentPage %></span>
    <% } %>

    <% if (next != null) { %>
      <a href="/allPrograms?page=<%= next %>">next</a>
    <% } %>
  </div>

  <div class="program-grid-container">
  
    <% for (let i = 0; i < programData.length; i++) { %>
<%# NOTE: this block fixed my broken images issue (img_url in the DB wasn't always the same format) %>
      <%# goal: always build a working /images/... path no matter what was stored (_.jpg, images/_.jpg, /images/_.jpg) %>
      <%
        let img = programData[i].img_url
        let imgSrc = ''
// if we have an img_url value, make it equal imgSrc
        if (img) {
          if (img.indexOf('/images/') === 0) {
            imgSrc = img
          } else if (img.indexOf('images/') === 0) {
            imgSrc = '/' + img
          } else {
            imgSrc = '/images/' + img
          }
        }
      %>

      <div class="image-container">
        <figure>
 <%# only render an <img> tag if we actually have an image %>
          <% if (img) { %>
            <img src="<%= imgSrc %>" alt="xmas program image">
          <% } %>

          <figcaption>
            <a href="/program/<%= programData[i].program_id %>">
              <%= programData[i].title %>
            </a>
          </figcaption>

        </figure>
      </div>

    <% } %>

  </div>
</main>

<%- include('../partials/footer') %>
