<%- include('../partials/header', { currentPage: 'allPrograms' }) %>

<main class="main" id="main">
    <div> 
        <div class="pagination-controls">
            <% if (prev !== null) { %>
        <a href="/allPrograms?page=<%= prev %>" class="btn btn-primary">Previous</a>
    <% } %>
    <span>Page <%= currentPage %></span>
    <% if (next !== null) { %>
        <a href="/allPrograms?page=<%= next %>" class="btn btn-primary">Next</a>
    <% } %>
    </div>
    <div class="program-grid-container">
        <% programData.forEach(program => { %>
            <div class="image-container"> 
                <figure>
                    <img src="/images/<%= program.img_url %>" alt="Xmas movie or show image: <%= program.title %>">

                    <figcaption>
                        <a href="/program/<%= program.program_id %>">
                            <%= program.title %>
                        </a>
                    </figcaption>
                </figure>
            </div> 
   <% }) %>
</div>
</main>

<%- include('../partials/footer')%>