<%- include('../partials/header', { currentPage: 'TV shows' }) %>

<main class="main" id="main">
    <!-- Optional: Add a class here if you want to style the overall grid/layout of the list -->
    <div> 
        <div class ="program-grid-container">   
        <% programData.forEach(program => { %>
            <div class="image-container"> 
                <figure>
                    <img src="/images/<%= program.img_url %>" alt="Xmas TV show image: <%= program.title %>">
                    <figcaption>
                        <a href="/tvshows/<%= program.program_id %>">
                            <%= program.title %>
                        </a>
                    </figcaption>
                </figure>
            </div> 
   <% }) %>
</div>
</main>

<%- include('../partials/footer')%>
